@font-face {
    font-family: sonos;
    src: url(../ttf/sonos-logo.ttf);
}

body {
    background-color: #202020;
    color: #FFF;
    font-family: "Neue Helvetica W02","Helvetica Neue",Helvetica,Arial,sans-serif;
    width: 100%;
    margin: 0;
    padding: 0;
    min-width: 900px;
    min-height: 400px;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: normal;
    -webkit-user-select: none;
    cursor: default;
}

h2, .search {
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 8px;
    display: inline-block;
    width: 100%;
    text-transform: capitalize;
}

h3, h4, h5 {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: none;
}

h4 {
    color: #CECECE;
}

.col:first-child {
    margin-left: 0;
}

.col:last-child {
    margin-right: 0;
}

.col {
    margin: 0 2%;
    float: left;
    position: relative;
}

.col1-3 {
    width: 22%;
}

.col1-6 {
    width: 48%;
}

.icon.icon-equalizer {
    background-image: url(../img/equalizerInactive.svg);
    height: 12px;
    width: 12px;
    float: left;
    margin: 2px 5px 0 0;
    background-repeat: no-repeat;
}

.icon.icon-equalizer.active {
    background-image: url(../img/equalizer.svg);
}

.coverart {
    background-image: url(../img/album-placeholder.png);
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
}

.gradient-bar {
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #37265c, #d01f27);
    margin-bottom: 20px;
}

.list {
    margin-top: -20px;
    white-space: nowrap;
    opacity: inherit;
}
.list-item {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px solid #3F3F3F;
    white-space: nowrap;
}

.list-item h3,
.list-item h4 {
    cursor: pointer;
}

.list-item > img {
    height: 100%;
    margin-left: 10px;
}

.topbar {
    background-color: #282828;
    overflow: hidden;
}

.topbar h1 {
    font-family: sonos;
    font-weight: lighter;
    letter-spacing: .25rem;
    font-size: 1.5rem;
    text-align: center;
}

.content {
    width: 92%;
    margin: auto;
    overflow: hidden;
}

.room.active h3 {
    color: #FF0048;
}

.sec-now-playing {
    overflow: hidden;
}

.sec-now-playing > * {
    float: left;
    width: 48%;
    min-height: 180px;
}
.sec-now-playing > *:first-child {
    margin-right: 4%;
}

.sec-now-playing .info span {
    margin-bottom: 20px;
    display: inline-block;
}

.sec-now-playing .info h4 {
    margin-bottom: 18pt;
}

.queue-list, .song-list {
    overflow-y: scroll;
    height: calc(100vh - 583px);
}

.queue-list :last-child, .song-list :last-child {
    margin-bottom: 100px;
}

.queue-item:hover,
.song-item:hover {
    background-color: rgba(0,0,0,0.2);
}

.queue-item {
    height: 80px
}

.queue-item .info {
    position: absolute;
    left: 100px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
}

.sec-music-source .return {
    fill: #FF0048;
    width: 24px;
    height: 24px;
    position: absolute;
    top: 22px;
    left: -30px;
    transform: rotate(720deg);
    transition: 1s;
    opacity: 0;
}

.sec-music-source .return.active {
    transform: rotate(45deg);
    opacity: 1;
    cursor: pointer;
}

.music-source {
    display: none;
}

.music-source.menu {
    display: initial;
}

.menu-item-list .menu-item {
    height: 18px;
    padding: 6px 0;
}

.music-source.menu .menu-item:hover h4 {
    color: #FF0048;
}

.music-source.menu .menu-item:hover .arrow {
    fill: #FF0048;
}

.music-source.menu .icon {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 10px;
}
.music-source.menu .spotify .icon { background-image: url(../img/spotify.svg); }
.music-source.menu .favorites .icon { background-image: url(../img/heart.svg); }
.music-source.menu .playlists .icon { background-image: url(../img/list.svg); }

.music-source.menu h4 {
    float: left;
}

.music-source.menu .arrow {
    height: 24px;
    width: 24px;
    position: relative;
    float: right;
    top: -3px;
    fill: #CECECE;
}

.search {
    background: none;
    color: white;
    font-size: 1.5em;
    margin: 0.83em 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
    background: url(../img/search.svg) no-repeat right;
    background-size: 30px;
}

.song-list {
    height: calc(100vh - 241px);
}

.song-item {
    height: 50px
}

.song-item .info {
    position: absolute;
    left: 70px;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 40px;
    white-space: nowrap;
    width: calc(100% - 70px);
}

.bottombar {
    position: fixed;
    bottom: 0;
    height: 100px;
    width: 100%;
    background: linear-gradient(to right, #37265c, #d01f27);
    box-shadow: 0 -20px 80px 55px #202020;
}

.time-bar {
    height: 4px;
    width: 100%;
    background: white;
    position: fixed;
    bottom: 100px;
    z-index: 2;
    cursor: pointer;
}

.time-bar .passed {
    background: #00B2EC;
    width: 0%;
    height: 100%;
    transition: 1s linear;
}

.bottombar .currently-playing {
    height: 100%;
}

.bottombar .currently-playing .info {
    position: absolute;
    top: 0;
    left: 120px;
    bottom: 0;
    margin: auto;
    height: 60px;
    max-width: calc(50% - 220px);
    white-space: nowrap;
    text-overflow: ellipsis;
    /* overflow: hidden; */
}

.bottombar .currently-playing .timestamp {
    margin-top: 5px;
}


.play-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 50px;
    width: 200px;
}

.play-controls svg {
    stroke: #fff;
    fill: none;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 5;
    transition: stroke .2s;
}
.play-controls > *:hover svg {
    stroke: #00B2EC;
}

.play-controls > * {
    height: 50px;
    width: 50px;
    float: left;
}

.play-controls .play-pause {
    margin: 0 25px;
    position: relative;
}

.play-controls .play-pause .animatable {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.animatable > span {
    width: 40%;
    display: block;
    height: 2.5px;
    background-color: white;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .5s, background-color .2s;
}

.pause .animatable .l1 {
    transform: translateX(30%) rotate(90deg);
}

.pause .animatable .l2 {
    transform: translateX(30%) rotate(-90deg);
}

.pause .animatable .l3 {
    transform: translateX(-30%) rotate(90deg);
}

.play-pause:hover .animatable > span {
    background-color: #00B2EC;
}

.play .animatable .l1 {
    transform: translate(2px, -6px) rotate(34deg) scaleX(1.1);
}
.play .animatable .l2 {
    transform:  translateX(-7px) rotate(90deg) scaleX(1.2);
}
.play .animatable .l3 {
    transform: translate(2px, 6px) rotate(-34deg) scaleX(1.1);
}

.sound-controls {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 320px;
    height: 24px;
}

.sound-controls > * {
    height: 100%;
    width: 24px;
    float: left;
    margin: 0 8px;
    fill: white;
    cursor: pointer;
}

.sound-controls > * svg {
    transition: .2s;
}

.sound-controls > .active svg {
    fill: #00b2ec;
}

.sound-controls > .mute.active .unmuted,
.sound-controls > .mute .muted {
    display: none;
}

.sound-controls > .mute .unmuted,
.sound-controls > .mute.active .muted {
    display: block;
    fill: white;
}

.sound-controls > .mute .muted {
    position: relative;
    left: -4px;
}


.sound-controls .volume-bar {
    width: 130px;
    background-color: white;
    border-radius: 100px;
    height: 4px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 160px;
    margin: auto;
}

.sound-controls .volume-bar .volume {
    width: 50%;
    height: 100%;
    border-radius: 100px;
    background-color: #00b2ec;
    transition: .5s;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    background: none;
    /*background: #282828;*/
}
 
::-webkit-scrollbar-thumb {
    background: #3f3f3f;
}

::-webkit-input-placeholder {
   color: #FFFFFF;
}